<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LM_job.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LM_job.My.MySettings>
            <setting name="DefPath" serializeAs="String">
                <value>\LM-job</value>
            </setting>
            <setting name="ProgramPath" serializeAs="String">
                <value>C:\Program Files (x86)\Brady\LabelMark5\Bin\LM5.exe</value>
            </setting>
            <setting name="FileExt" serializeAs="String">
                <value>l5f</value>
            </setting>
        </LM_job.My.MySettings>
    </userSettings>
</configuration>